<div class="row">
            <div class="col-md-4">
                <div ng-hide="currentUser" class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Login:</div>
                    </div>
                    <div class="panel-body">
                        <form>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        <input type="text" ng-model="username" class="form-control" placeholder="Username">                            
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        <input type="password" ng-model="password" class="form-control" placeholder="Password">                            
                        </div>
                        <div class="col-md-12 nb-no-pad">
                            <div class="checkbox checkbox-info">
                            <input type="checkbox" class="checkbox-inline form-inline" id="nb_remember" style="margin-left:0%" >
                            <label for="nb_remember">Remember me</label>
                        </div>
                        </div>
                        
                        <button ng-click="signIn()" class="btn btn-primary">Sign In</button>
                        <a href="/signup">Not a member? Sign up!</a>
                        </form>
                    </div>
                </div>
                <div ng-show="currentUser">
                    <h2>Hello, {{userFirstName}}</h2>
                    <div class="nb-font-medium nb-pointer" ng-show="currentUser" ng-click="logout()">Logout</div>
                    <br>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                        <div class="panel-title">Chat</div>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-click="nbShowCR()">Chat Room</li>
                            <li ng-repeat="user in users" 
                                ng-if="user.userEmail != currentUser"
                                ng-click="startChat(user._id)">
                                {{user.userFirstName}}
                            </li>
                        </ul>
                    </div>
                    </div>
                    <hr>
                    <div ng-show="nbShowChatP2P" class="chat-room-window nb-pad-r">
                        <div class="panel panel-info nb-no-margin-b">
                        <div class="panel-heading">
                        <div class="panel-title">
                            <span class="glyphicon glyphicon-remove nb-right" ng-click="nbp2pClose()"></span> 
                            <span class="fa fa-window-maximize nb-right nb-padding-minus" ng-click="nbp2pMaximize()" ></span> 
                            <span class="glyphicon glyphicon-minus nb-right nb-padding-minus" ng-click="nbp2pMinimize()" ></span> 
                        </div>
                    </div>
                    <div ng-show="nbp2pChatBody" class="panel-body" id="nb_gc_body">
                        <div id="p2p_chat_body" class="nb-chat-body"></div>
                        <form ng-submit="p2pChatSend()">
                            <div id="broadcastP2pChat" class="nb-broadcast-style"></div>
                            <div class="input-group">
                            <input type="text" ng-keypress="broadcastP2p()" class="form-control" ng-model="p2pChatMsg" placeholder="Enter the message">
                            <span ng-click="p2pChatSend()" class="input-group-addon">Send</span>
                            </div>
                        </form>
                    </div>
                    </div>
                    </div>
                    <div ng-show="nbShowChatRoom" class="chat-room-window nb-pad-r">
                        <div class="panel panel-info nb-no-margin-b">
                        <div class="panel-heading">
                        <div class="panel-title">Chat Room  
                            <span class="glyphicon glyphicon-remove nb-right" ng-click="nbGcClose()"></span> 
                            <span class="fa fa-window-maximize nb-right nb-padding-minus" ng-click="nbGcMaximize()" ></span> 
                            <span class="glyphicon glyphicon-minus nb-right nb-padding-minus" ng-click="nbGcMinimize()" ></span> 
                        </div>
                    </div>
                    <div ng-show="nbGcChatBody" class="panel-body" id="nb_gc_body">
                        <div id="group_chat_body" class="nb-chat-body"></div>
                        <form ng-submit="groupChatSend()">
                            <div id="broadcastGroupChat" class="nb-broadcast-style"></div>
                            <div class="input-group">
                            <input type="text" ng-keypress="broadcastGC()" class="form-control" ng-model="groupChatMsg" placeholder="Enter the message">
                            <span ng-click="groupChatSend()" class="input-group-addon">Send</span>
                            </div>
                        </form>
                    </div>
                    </div>
                    </div>

                </div>
            </div>
            
            <div class="col-md-8">
                <form ng-show="currentUser">
                    <textarea name="nb-new-note" id="nb-new-note" rows="2" class="form-control" ng-model="nbNewNote" placeholder="Tell us what you think..."></textarea>
                    <br>
                    <button class="btn btn-primary" type="submit" ng-click="nbNoteSubmit()">Post</button>
                </form>
                <div class="note" ng-repeat="note in notes">
                    <h3><i class="fa fa-user"></i> {{note.noteText}} 
                        <span ng-show="validateUser(note.noteUserEmail)" ng-click="nbRemoveNote(note)" class="glyphicon glyphicon-remove nb-right nb-pointer"></span>
                    </h3>
                    <p> {{note.noteUserEmail}} </p>
                    <p class="nb-note-date">{{ nbDateFormat(note.noteDate)}}</p>
                </div>
                
            </div>
        </div>