<div class="col-md-6 col-md-offset-3">
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Sign up here!</div>
    </div>
    <div class="panel-body">
        <form>
        <div class="row">
        <div class="col-md-2 nb-control nb-f-thick">Username</div>
        <div class="col-md-8">
            <input type="text" class="form-control" ng-model="nbNewUser" placeholder="Enter an username" required>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 nb-control nb-f-thick">Password</div>
            <div class="col-md-8">
            <input type="password" class="form-control" ng-model="nbNewPass" placeholder="Enter a password" required>
        </div>
        </div>
        <br>
        <button class="btn btn-primary" ng-click="nbNewUserSubmit()">Sign Up</button>
        </form>
        
    </div>
</div>
</div>